#header{
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 5px;
    border: 3px solid white;
    font-family: 'Courier New', Courier, monospace;

}

#template{
    background-color: black;
}

#cam_on{
    background-color: aqua;
}

#cam_off{
    background-color: red;
}
