{% extends "base.html" %}
{% block title %}Get Recommendations{% endblock title %}

{% block content %}
<body id="template">

    <div id="face_rec">
        <video autoplay="true" id="camera" width="800" height="600"></video>
        <canvas id="canvas"></canvas>
        <button id="cam_on" onclick="startCam()">Start Camera</button>
        <button id="cam_off" onclick="stopCam()">Stop Camera</button>
        <button id="snap" onclick="takePicture()">Snap!</button>
    </div>
    
    <script src="../static/MusicPie.js"></script>
    
</body>
{% endblock content %}